.sidebar__archive {
    width: 100%;
    padding-bottom: 30px;

}

.sidebar__archive-title {
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height:  155.556%;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
}
