.card__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card__product-img {
    border-radius: 5px;
}

.card__product-name {
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 155.556%;
  letter-spacing: 0.4px;
  color: #2d3958;
}

.card__product-price {
  color: #7b88a8;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
}

.card__product--style2{
    padding: 40px 0;
}

.card__product--style1{
    padding-top: 30px;
}