@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,300;1,9..40,400&family=Instrument+Serif&family=Outfit:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.container {
  max-width: var(--grid-container-width);
  margin: auto;
  padding-left: var(--grid-container-gap);
  padding-right: var(--grid-container-gap);
}

.header__top {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 133.333%;
  letter-spacing: -0.4px;
}

.header__menu {
  display: flex;
  gap: 30px;
}

.header__menu li:active {
  color: #2d3958;
}

.header__menu li:active::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #34c635;
}

.header__menu li {
  position: relative;
  color: #7b88a8;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.header__menu a:hover {
    color: #4f77ff;
}

.header__menu a {
    color: var(--Text-Text, #7B88A8);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    letter-spacing: -0.3px;
    text-transform: uppercase;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__feature {
  display: flex;
  gap: 20px;
}

.header__search {
  cursor: pointer;
}

.header__cart {
  position: relative;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  width: fit-content;
  height: 48px;
  border-radius: 5px;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 171.429%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button--blue {
  color: #fff;
  background-color: #4f77ff;
}
